@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');

.navbar {
  font-family: 'Mukta', sans-serif;
  font-weight: 200;
  background: image_url('beige-tiles.png');
  box-shadow: 0px 1px 3px #2a2a2a;

}


.navbar-inverse a.navbar-brand {
  font-family: 'Mukta', sans-serif;
  font-weight: 100;
  color: #F6F6C9
}

body {
  background: image_url('so-white.png');
}